include ../head.pug
body
    h1 This is home page of Goodreads clone
    h2 Note that, this is a clone of Goodreads, and not the actual Goodreads website.
    p This is a simple CRUD application to manage book reviews.
    p You can add, update, delete and view book reviews.
    p Go to the reviews page to manage your book reviews.
    a(href="/reviews") Go to Reviews Page